---
layout: default
---

{% if page.profile %}
    {% if page.profile.image %}
      <img class="profile profile-centered" width="33.33%" src="{{ page.profile.image | prepend: '/assets/images/' | relative_url }}">
    {% endif %}
{% endif %}

{{ content }}

<hr class="subtle-divider">

<div class="action-buttons">
  <a href="{{ site.baseurl }}/projects/" class="button button-projects">Projects</a>
  <a href="{{ site.baseurl }}/assets/CV.pdf" class="button button-cv" target="_blank">CV</a>
</div>